## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` libary

In [30]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [31]:
# Your code here
sample_list_1= random.sample(range(101),80)
len(sample_list_1)

80

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [32]:
# Your code here
set1= set(sample_list_1)
len(set1)

80

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [33]:
# Your code here
#sample_list_2= random.choices(range(100), k=80)
#esta es la manera de hacerla pero piden un loop
sample_list_2=[]
for n in list(range(80)):
    sample_list_2.append(random.sample(range(101),1)[0])
print(sample_list_2)
#ojo, random sample crea una lista aunq solo sea de un valor, por eso hacemos append del valor[0],
#para no tener una lista de listas si no una lista de numeros.

[83, 0, 99, 61, 89, 32, 48, 2, 9, 89, 53, 66, 30, 91, 67, 38, 40, 5, 44, 77, 85, 27, 3, 64, 40, 3, 68, 5, 85, 60, 3, 53, 48, 74, 50, 23, 8, 6, 0, 3, 56, 39, 63, 84, 48, 4, 50, 33, 1, 62, 69, 53, 68, 70, 39, 79, 38, 4, 6, 92, 70, 1, 18, 24, 34, 83, 4, 96, 30, 39, 60, 68, 82, 41, 37, 8, 39, 65, 56, 59]

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [34]:
# Your code here
print(len(sample_list_2))
set2=set(sample_list_2)
print(len(set2))

80
51

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [45]:
# Your code here
set3=set1.difference(set2)
len(set3)

37

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [46]:
set4=set2.difference(set1)
len(set4)

8

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [49]:
set5=set1.intersection(set2)
len(set5)

43

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [56]:
# Your code here
print(len(set1),len(set2),len(set3),len(set4),len(set5))

len(set1)==len(set3)+len(set5)

80 51 37 8 43

True

#### Create an empty set called `set6`.

In [54]:
# Your code here
set6=set()

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [60]:
# Your code here
set6.update(set3)
set6.update(set5)
print(set6)

{0, 1, 2, 4, 5, 6, 7, 8, 9, 10, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 37, 38, 39, 40, 41, 42, 44, 45, 46, 48, 49, 51, 52, 53, 55, 57, 58, 60, 61, 62, 63, 65, 66, 67, 68, 69, 73, 75, 76, 77, 79, 81, 82, 83, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100}

#### Check if `set1` and `set6` are equal.

In [61]:
# Your code here
set6==set1

True

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [62]:
# Your code here
set1.issubset(set2)
set3.issubset(set1)

True

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [64]:
# Your code here
set3.union(set4,set5)==set1.union(set2)
#ojo, q union te permite meter varios sets entre parentesis

True

#### Using the `pop` method, remove the first element from `set1`.

In [67]:
# Your code here
set1.pop()

1

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [73]:
# Your code here
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
print(len(set1))
for n in list_to_remove:
    if n in set1:
        set1.remove(n)
print(len(set1))

78
62

In [ ]:
#por fin sale bien. Cojones ya!