## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` libary

In [3]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [23]:
# Your code here
sample_list_1= random.sample(range(101),80)
len(sample_list_1)

80

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [24]:
# Your code here
set1= set(sample_list_1)
len(set1)

80

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [20]:
# Your code here
#sample_list_2= random.choices(range(0,101),k=80)

#eso es correcto pero especifica que se haga con loop

sample_list_2=[]

for item in list(range(0,80)):
    sample_list_2.append(random.choices(range(0,100),k=1)[0])
sample_list_2

#no tiene puto sentido hacerlo asi cuando se puede hacer como arriba, pero bueno
#ojo, esta metiendo una lista de listas ya que random te da una lista con ese valor. Por
#eso elijo el [0]

[41,
 29,
 31,
 1,
 78,
 10,
 47,
 38,
 54,
 8,
 83,
 4,
 47,
 9,
 55,
 23,
 76,
 24,
 41,
 97,
 40,
 35,
 20,
 38,
 18,
 42,
 44,
 64,
 99,
 14,
 97,
 84,
 43,
 49,
 92,
 90,
 81,
 9,
 93,
 50,
 59,
 63,
 57,
 78,
 60,
 9,
 41,
 42,
 28,
 44,
 24,
 57,
 52,
 85,
 80,
 42,
 74,
 73,
 41,
 70,
 53,
 4,
 35,
 46,
 27,
 54,
 27,
 75,
 73,
 59,
 16,
 47,
 70,
 21,
 68,
 53,
 32,
 25,
 79,
 14]

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [21]:
# Your code here
print(len(sample_list_2))
set2=set(sample_list_2)
print(len(set2))

80
56

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [28]:
# Your code here
set3=[]
for x in set1:
    if x not in set2:
        set3.append(x)
print(len(set3))

32

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [29]:
# Your code here
set4=[]
for x in set2:
    if x not in set1:
        set4.append(x)
print(len(set4))

8

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [30]:
# Your code here
set5=[]
for x in set2:
    if x in set1:
        set5.append(x)
print(len(set5))

48

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [ ]:
# Your code here

#### Create an empty set called `set6`.

In [ ]:
# Your code here
set

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [ ]:
# Your code here

#### Check if `set1` and `set6` are equal.

In [ ]:
# Your code here

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [ ]:
# Your code here

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [ ]:
# Your code here

#### Using the `pop` method, remove the first element from `set1`.

In [ ]:
# Your code here

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [ ]:
# Your code here