# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [1]:
# import numpy and pandas
import pandas as pd
import numpy as np
from scipy import stats
import matplotlib.pyplot as plt
from scipy.stats import t

# Challenge 1 - Exploring the Data

In this challenge, we will examine all salaries of employees of the City of Chicago. We will start by loading the dataset and examining its contents

In [2]:
# Run this code:

salaries = pd.read_csv('../Current_Employee_Names__Salaries__and_Position_Titles.csv')

Examine the `salaries` dataset using the `head` function below.

In [3]:
# Your code here:
salaries.head()

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
0,"AARON, JEFFERY M",SERGEANT,POLICE,F,Salary,NaN,101442.0,NaN
1,"AARON, KARINA",POLICE OFFICER (ASSIGNED AS DETECTIVE),POLICE,F,Salary,NaN,94122.0,NaN
2,"AARON, KIMBERLEI R",CHIEF CONTRACT EXPEDITER,GENERAL SERVICES,F,Salary,NaN,101592.0,NaN
3,"ABAD JR, VICENTE M",CIVIL ENGINEER IV,WATER MGMNT,F,Salary,NaN,110064.0,NaN
4,"ABASCAL, REECE E",TRAFFIC CONTROL AIDE-HOURLY,OEMC,P,Hourly,20.0,NaN,19.86

We see from looking at the `head` function that there is quite a bit of missing data. Let's examine how much missing data is in each column. Produce this output in the cell below

In [4]:
# Your code here:
salaries.isnull().sum()

Name                     0
Job Titles               0
Department               0
Full or Part-Time        0
Salary or Hourly         0
Typical Hours        25161
Annual Salary         8022
Hourly Rate          25161
dtype: int64

Let's also look at the count of hourly vs. salaried employees. Write the code in the cell below

In [5]:
# Your code here:
#llevaba un rato buscando una columna llamada "salaried employees"
salaries['Salary or Hourly'].value_counts()

Salary    25161
Hourly     8022
Name: Salary or Hourly, dtype: int64

What this information indicates is that the table contains information about two types of employees - salaried and hourly. Some columns apply only to one type of employee while other columns only apply to another kind. This is why there are so many missing values. Therefore, we will not do anything to handle the missing values.

There are different departments in the city. List all departments and the count of employees in each department.

In [6]:
salaries['Department'].value_counts()

POLICE                   13414
FIRE                      4641
STREETS & SAN             2198
OEMC                      2102
WATER MGMNT               1879
AVIATION                  1629
TRANSPORTN                1140
PUBLIC LIBRARY            1015
GENERAL SERVICES           980
FAMILY & SUPPORT           615
FINANCE                    560
HEALTH                     488
CITY COUNCIL               411
LAW                        407
BUILDINGS                  269
COMMUNITY DEVELOPMENT      207
BUSINESS AFFAIRS           171
COPA                       116
BOARD OF ELECTION          107
DoIT                        99
PROCUREMENT                 92
INSPECTOR GEN               87
MAYOR'S OFFICE              85
CITY CLERK                  84
ANIMAL CONTRL               81
HUMAN RESOURCES             79
CULTURAL AFFAIRS            65
BUDGET & MGMT               46
ADMIN HEARNG                39
DISABILITIES                28
TREASURER                   22
HUMAN RELATIONS             16
BOARD OF ETHICS              8
POLICE BOARD                 2
LICENSE APPL COMM            1
Name: Department, dtype: int64

# Challenge 2 - Hypothesis Tests

In this section of the lab, we will test whether the hourly wage of all hourly workers is significantly different from $30/hr. Import the correct one sample test function from scipy and perform the hypothesis test for a 95% two sided confidence interval.

In [7]:
hourly_rates = salaries['Hourly Rate'][salaries['Salary or Hourly']=='Hourly']
hourly_rates

4        19.86
6        46.10
7        35.60
10        2.65
18       17.68
         ...
33164    46.10
33168    17.68
33169    35.60
33174    46.35
33175    48.85
Name: Hourly Rate, Length: 8022, dtype: float64

In [8]:
hourly_rates = salaries['Hourly Rate'][salaries['Salary or Hourly']=='Hourly']
#OJO IMP, forma de pillar de esa columna solo los valores q sea "hourly"
# from scipy.stats import t (esta arriba ya)

#Copiar esta frase tal cual!!
checkPValue = lambda p,threshold=0.05: "--> Null(H0) hypotesis rejected" if p < threshold else "--> We cannot reject the null hypotesis"

threshold=0.05

resA = stats.ttest_1samp(hourly_rates,30)


print(checkPValue(resA[1]))
print(resA)

--> Null(H0) hypotesis rejected
Ttest_1sampResult(statistic=20.6198057854942, pvalue=4.3230240486229894e-92)

We are also curious about salaries in the police force. The chief of police in Chicago claimed in a press briefing that salaries this year are higher than last year's mean of $86000/year a year for all salaried employees. Test this one sided hypothesis using a 95% confidence interval.

Hint: A one tailed test has a p-value that is half of the two tailed p-value. If our hypothesis is greater than, then to reject, the test statistic must also be positive.

In [10]:
salaryperannum = salaries['Annual Salary'][~salaries['Annual Salary'].isna()]
###TREMENDO CODIGO!!! (Gracias Felipe, te apunto otra cerveza)

In [11]:
# Your code here:
resB = stats.ttest_1samp(salaryperannum,86000)
print(checkPValue(resB[1]))
print(resB)

--> Null(H0) hypotesis rejected
Ttest_1sampResult(statistic=5.932870515690814, pvalue=3.015758519916386e-09)

Using the `crosstab` function, find the department that has the most hourly workers.

In [12]:
salary_per_department = pd.crosstab(index=salaries["Department"],columns =salaries["Typical Hours"])

salary_per_department.head()
#(si, sigo necesitando ver lo que hago a cada paso)

Typical Hours     10.0  20.0  35.0  40.0
Department
ANIMAL CONTRL        1    18     0     0
AVIATION             0    18    15  1049
BUDGET & MGMT        0     0     2     0
BUSINESS AFFAIRS     0     7     0     0
CITY COUNCIL         7    36    18     3

The workers from the department with the most hourly workers have complained that their hourly wage is less than $35/hour. Using a one sample t-test, test this one-sided hypothesis at the 95% confidence level.

In [10]:
# Your code here:
#Joder con la tonteria que no me sale ahora

# Challenge 3 - Constructing Confidence Intervals

While testing our hypothesis is a great way to gather empirical evidence for accepting or rejecting the hypothesis, another way to gather evidence is by creating a confidence interval. A confidence interval gives us information about the true mean of the population. So for a 95% confidence interval, we are 95% sure that the mean of the population is within the confidence interval. 
).

To read more about confidence intervals, click [here](https://en.wikipedia.org/wiki/Confidence_interval).


In the cell below, we will construct a 95% confidence interval for the mean hourly wage of all hourly workers. 

The confidence interval is computed in SciPy using the `t.interval` function. You can read more about this function [here](https://docs.scipy.org/doc/scipy-0.14.0/reference/generated/scipy.stats.t.html).

To compute the confidence interval of the hourly wage, use the 0.95 for the confidence level, number of rows - 1 for degrees of freedom, the mean of the sample for the location parameter and the standard error for the scale. The standard error can be computed using [this](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.sem.html) function in SciPy.

In [13]:
#1.-Error estandar
errorst = stats.sem(salaries["Hourly Rate"],  ddof=-1, nan_policy="omit")
#2 elimino valores nulos
hourly_rates = salaries["Hourly Rate"].dropna()
#Calculo la media de salarios
mean = np.mean(hourly_rates)
#Interval confidence
confidenceinterval = t.interval(alpha = 0.95, df=hourly_rates ,loc =mean, scale=errorst)
#Hago la media
result= np.mean(confidenceinterval)
print(result)

32.78855771628024

Now construct the 95% confidence interval for all salaried employeed in the police in the cell below.

In [15]:

errorst2 = stats.sem(salaries["Annual Salary"] ,  ddof=-1, nan_policy="omit")

salary = salaries["Annual Salary"].dropna()

mean2 = np.mean(salary)


confidenceinterval = t.interval(alpha = 0.95, df=salary ,loc =mean2, scale=errorst2)

resultado2 = np.mean(confidenceinterval)
print(resultado2)


#Ha salido bien a la primera? Algo he hecho mal?

86786.99979015143

# Challenge 4 - Hypothesis Tests of Proportions

Another type of one sample test is a hypothesis test of proportions. In this test, we examine whether the proportion of a group in our sample is significantly different than a fraction. 

You can read more about one sample proportion tests [here](http://sphweb.bumc.bu.edu/otlt/MPH-Modules/BS/SAS/SAS6-CategoricalData/SAS6-CategoricalData2.html).

In the cell below, use the `proportions_ztest` function from `statsmodels` to perform a hypothesis test that will determine whether the number of hourly workers in the City of Chicago is significantly different from 25% at the 95% confidence level.

In [17]:
import statsmodels
from statsmodels.stats.proportion import proportions_ztest

salaries
count = len(salaries["Hourly Rate"])
nobs = 1
value = 0.25
print(count)
stat, pval = proportions_ztest(count, nobs, value,prop_var=0)
print(stat,pval)

#Instalado pip3 install statsmodels
#Algo no ha funcionado bien pero no entiendo que estoy haciendo. Formula copypaste

33183
nan nan

/home/carlossanz/.local/lib/python3.6/site-packages/statsmodels/stats/proportion.py:846: RuntimeWarning: invalid value encountered in sqrt
  std_diff = np.sqrt(var_)